<% evil_string = '<script>alert("Gotcha!")</script>' %>
<% good_string = '<strong>Welcome to my site!</strong>' %>

<p>
Default

<p>
<%= evil_string %>

<p>
<%= good_string %>

<hr />

<p>
raw

<p>
<%= raw(evil_string) %>

<p>
<%= raw(good_string) %>

<hr />

<% str = '<strong>Please</strong> visit ' \
         '<a href="http://example.com">us</a>.' %>

<p>
strip links and strip tags

<p>
<%= strip_links(str) %>

<p>
<%= strip_tags(str) %>

<hr />

<p>
sanitize

<p>
<%= sanitize(evil_string) %>

<p>
<%= sanitize(str) %>

<p>
<%= sanitize(str, tags: []) %>

<p>
<%= sanitize(str, tags: ['strong', 'em', 'a']) %>

<hr />
